.cproject
.project
build/CMakeCache.txt
build/CMakeFiles/
build/CTestTestfile.cmake
build/Makefile
build/cmake_install.cmake
build/compile_commands.json
build/pc/tiliae.pc
build/install_manifest.txt
build/Testing/
build/bwrap_test
build/common_test
build/container_test
build/core_test
build/demo
build/editor_test
build/factory_test
build/k202_test
build/libtiliae.so
build/reflection_test
build/signal_test

*~
tiliae.kdev4
.settings/
.kdev4/
CMakeLists.txt.user

build/tiliae.cbp
build-clang
CMakeLists.txt.user
benchmark/clangReflection/build
benchmark/classicReflection/build/
parser/build
parser/lib
build
